DATABASE_URL="mysql://john:12345@localhost:3306/credit_applications_test"
DATABASE_HOST="localhost"
DATABASE_USER="john"
DATABASE_PASSWORD="12345"
DATABASE_NAME="credit_applications_test"
PORT=3000
JWT_SECRET="your_jwt_secret_key"
JWT_EXPIRES_IN="1h"